<h2>espacio de trabajo de Carrousel </h2>
<div class="content-all">
    <div class="content-carrousel">
        <figure><img src="./Nueva carpeta/libro1-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro2-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro3-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro4-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro5-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro6-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro7-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro8-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro9-portada.jpg"></figure>
        <figure><img src="./Nueva carpeta/libro10-portada.jpg"></figure>
        
    </div>
